# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=1

# Vertex backend config
GOOGLE_CLOUD_PROJECT=<<project-id>>
GOOGLE_CLOUD_LOCATION=<<region>>

# Models used in Agents
AGENT_MODEL=<<Gemini Model Name>>

TOOLSET="MCP Toolset Name"
SERVER_URL="MCP Server URL"

#Possible Values ALLOYDB / MYSQL
DATABASE_TYPE="MYSQL"

BASELINE_NL2SQL_MODEL="gemini-2.5-flash"

# these are the environment vairables needed for the MCP Toolbox Database connection.
# export DATABASE_PROJECT=<<project-id>>
# export DATABASE_REGION=<<region>>
# export ALLOYDB_POSTGRES_CLUSTER=<<Cluster Name>>
# export DATABASE_INSTANCE=<<Instance Name>>
# export DATABASE=<<Database>>
# export DATABASE_USER=<<Username>>
# export DATABASE_PASSWORD=<<Password>>
# export DATABASE_SCHEMA_NAME=<<SchemaName>>
# export BASELINE_NL2SQL_MODEL="gemini-2.5-flash"